@media all and (min-width: 720px) and (max-width: 1440px)
{
    /*#main
    {
        margin: 0 auto;
    }*/

    header
    {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0em 3em 0 3em;
        border-top: 2px solid #f2f2f2;
    }

    .signup
    {
        color: #0065fc;
        font-weight: bold;
        margin: 1.8em 1.5em;
        padding: 1.2em;
        font-size: inherit;
        border: none;
        border-radius: 16px;
        background-color: unset;
        cursor: pointer;
    }

    #s1
    {
        margin: 0;
        padding: 0 3em 0 3em;
    }

    .recherche1
    {
        padding-bottom: 1em;
    }

    .title_f
    {
        display: block;
        padding: 0 1em 0 0;
    }

    .options_f
    {
        padding: 0; 
    }

    #s2
    {
        flex-flow: column-reverse wrap-reverse; 
        margin: 0;
    }

    aside
    {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        min-height: 300px;
        margin: 0; 
        box-sizing: content-box;
        border-radius: 0;
    }

    .p1
    {
        width: 300px;
        height: 140px;
    }

    .image1
    {
        width: 130px;
        height: 140px;
    }

    .legendebis
    {
        padding: 1em 0 1em 1em;
    }

    .nuitee2
    {
        padding: 0 0 1em 1em;
    }

    .etoiles2
    {
        padding: 1em 0 0 1em;
    }

    #ah1
    {
        background-color: unset;
        border-radius: 0;
        width: 88.5%;
    }

    .aa1
    {
        display: flex;
        flex-flow: column wrap;
    }

    .vp
    {
        order: -3;
        width: 235px;
        margin: 2em 15em 0 auto;
    }

    .fpif, .ndgpl
    {
        display: flex;
        justify-content: space-between;
        padding-top: 2em;
    }

    .cal
    {
        order: -3;
        width: 235px;
        margin: -14em 3em 0 auto;
        padding: 0;
    }
    
    .image2, .image3, .image4, .image5
    {
        width: 235px;
        height: 150px;
    }

    footer
    {
        padding: 0;
    }

    .title_ap
    {
        padding-left: 3em;
    }

    footer li
    {
        margin: 0.6em auto;
        padding-right: 2em;
    }
}

    
