@media screen and (min-width: 1580px)
{
    #main
    {
        margin: 0 auto;
        max-width: 2100px;
    }

    .vignettes
    {
        width: 370px;
    }

    .image
    {
        width: 97%;
    }

    .image1
    {
        width: 180px;
        height: 170px;
    }

    .p1
    {
        width: 350px;
        height: 170px;
    }

    .ap
    {
        padding: 1.5em 0 1.5em 1em;
    }

    .vp, .cal
    {
        width: 400px;
    }

    .image2
    {
        width: 100%;
    }

    .fp, .if, .ndg, .pl
    {
        width: 390px;
    }
    
    .image3, .image4, .image5
    {
        width: 100%;
    }
}