@media screen and (max-width: 720px)
{
    #main
    {
        margin: 0;
    }

/*Header's beginnig*/
    header
    {
        padding: 0;
        margin: 1.2em 0;
        border-bottom: 2px solid #f2f2f2;
    }

    .logo
    {
        padding: 0 0 1em 1.2em;
    }
    
    /*Navigation's beginning*/
    
    nav ul
    {
        flex-flow: row-reverse wrap-reverse;
        justify-content: space-between;
        padding: 0;
        border-top: none;
    }

    nav li
    {
        padding: 0; 
    }

    nav a
    {
        margin: 0;
        padding-right: 1.25em;
    }

    .sign_up
    {
        order: 1;
        padding: 1.2em 0;
        background-color: unset;
        border: none;
        font-size: 16px;
        cursor: pointer;
    }

    .sign_up
    {
        color:#0065fc;
        font-weight: bold;
    }

    .sign_up:hover, .signup:hover
    {
        border: none;
    }

    .n1
    {
        order: 1;
        margin: 2em 0 0em -4em;
        width: 50%;
        padding-bottom: 1em;
    }

    .n2
    {
        margin: 2em 0 0em 1em;
        width: 50%;
        padding-bottom: 1em;
    }

    nav a:hover
    {
        border-top: none; 
        padding-bottom: 1em;
    }

    nav a:active
    {
        border-bottom: 2px solid #0065fc;
        padding-bottom: 1em;
    }

    /*Navigation's ending*/
    h1
    {
        font-size: 25px;
    }
    /*Header's ending*/

    /*Searching's beginning*/
    .recherche1
    {
       display: none;
    }

    #s1
    {
        padding: 0 1.2em 0 1.2em;
    }

    .recherche2
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 337px;
        height: 55px;
    }

    .marqueur_1
    {
    border-radius: 20px 0 0 20px;
    background-color: #f2f2f2;      
    font-size: 18px;
    }

    input
    {
    border: 2px solid #f2f2f2;
    font-weight: bold;
    color: black;
    width: 250px;
    }

    .marqueur_2
    {
    border-radius: 20px;
    background-color: #0065fc;
    color: white;
    border: 1px solid #f2f2f2; 
    font-size: 15px;
    margin-left: -1em;
    }

    #ville_pays::placeholder 
    {
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
    }   

    .marqueur_2:hover
    {
    cursor: pointer;
    }

    .i1, .i3, .i2, .i4
    {
        margin: 1em 0.8em 1em 0.9em;
    }

    .title_f
    {
        font-size: 18px;
    }

    .options_f
    {
        padding: 0;
    }

     /*Top's ending*/

    /*Accomodations' beginning*/ 
    #s2
    {
        margin: auto;
        flex-flow: column-reverse wrap;
        width: 375px;
    }

    #ah1
    {
        background-color: white;
        margin: 0;
        padding: 0 1.2em 0 1.2em;
        width: 100%; 
        display: block;
    }

    aside
    {
        margin: 0;
        padding: 0;
        border-radius: 0; 
        width: 400px;
        order: 1;
    }

    .graphique
    {
        font-size: 20px;
        width: 88%;
        padding: 2.5em 0 2em 1.2em;
    }

    .p1
    {
        width: auto;
        margin: 0 1.2em 1em 1.2em;
    }

    #logements
    {
        font-size: 20px;
        padding: 2.5em 0 2em 1.2em;
    }

    .presentation
    {
        display: inline-block;
        max-width: 340px;
    }

    .vignettes
    {
        max-width: 350px;
    }

    .image
    {
        width: 330px;
        height: 150px;
    }

    .ap
    {
        padding: 0 0 2.5em 0;
    }
    /*Accomodations' ending
    
    /*Activities'beginning*/
    #s3
    {
        margin: 0;
    }

    .aa1
    {
        flex-flow: column nowrap;
    }

    .image2, .image3, .image4, .image5
    {
        width: 340px;
        height: 150px;
    }

    .vp, .fp, .if, .cal, .ndg, .pl
    {
        margin-bottom: 2em;
        max-width: 100%;
        box-shadow: 0 0 10px red;
    }
    
    
    #visites
    {
        padding-left: 0.9em;
        font-size: 20px;
    }
    
    footer
    {
        flex-flow: column nowrap;
        padding-right: 0;
    }

    footer a
    {
        color: black;
    }

    footer ul
    {
        padding-left: 0.5em
    }

    .title_ap
    {
        padding: 3em 0 0 1em;
    }
}

