@media screen and (min-width: 680px) and (max-width: 1440px)
{
    #main
    {
        margin: 0 auto;
        max-width: 1300px; 
    }

    header
    {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0em 3em 0 3em;
        border-top: 2px solid #f2f2f2;
    }

    .signup
    {
        color: #0065fc;
        font-weight: bold;
        margin: 1.8em 1.5em;
        padding: 1.2em;
        font-size: inherit;
        border: none;
        border-radius: 16px;
        background-color: unset;
        cursor: pointer;
    }

    #s1
    {
        margin: 0;
        padding: 0 3em 0 3em;
    }

    .recherche1
    {
        padding-bottom: 1em;
    }

    .title_f
    {
        display: block;
    }

    .options_f
    {
        padding: 0; 
    }

    #s2
    {
        flex-flow: column-reverse wrap-reverse; 
        margin: 0;
    }

    .image
    {
        min-width: 310px;
    }

    aside
    {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 0; 
        box-sizing: content-box;
        border-radius: 0;
    }

    .p1
    {
        width: 305px;
        height: 140px;
    }

    .image1
    {
        min-width: 130px;
        height: 140px;
    }

    .legendebis
    {
        padding: 1em 0 1em 1em;
    }

    .nuitee2
    {
        padding: 0 0 1em 1em;
    }

    .etoiles2
    {
        padding: 1em 0 0 1em;
    }

    #ah1
    {
        background-color: unset;
        border-radius: 0;
    }


    .vp
    {
        max-width: 220px;
    }

    .fp
    {
        margin-bottom: 4.2em;
        max-width: 200px;
    }

    .if
    {
        max-width: 200px;
    }

    .cal
    {
        max-width: 220px;
    }

    .ndg
    {
        margin-bottom: 0;
        padding-bottom: 0;
        max-width: 200px;
    }

    .pl
    {
        padding-bottom: 0;
        margin-top: 4em;
    }

    .image2
    {
        max-width: 220px;
    }
    
    .image3
    {
        max-width: 200px;
        height: 188px;
    }

    .image4
    {
        max-width: 200px; 
        height: 190px;
    }

    .image5
    {
        max-width: 200px;
        height: 189px;
    }

    .pnc
    {
        font-size: 13px;
        font-weight: 900;
        padding: 1em;
        margin: 0;
    }


    footer
    {
        padding: 0;
    }

    .title_ap
    {
        padding: 2em 0 0 2.8em;
    }

    footer li
    {
        margin: 0.6em auto;
        padding-right: 2em;
    }
}

@media screen and (min-width: 630px) and (max-width: 920px)
{

    #s3
    {
        margin: 0 3em 3em 3em;
    }
    
    .image2
    {
        width: 200px;
        height: 190px;
    }

    .fpif
    {
        order: 2;
    }

    .ndgpl
    {
        order: 3;
    }

    .vp
    {
        max-width: 200px;
        z-index: 2;
        position: absolute;
        margin-top: -15.7em;
        margin-bottom: 0;
        height: 250px;
    }

    .cal
    {
        max-width: 200px;
        margin-top: 19.7em;
        height: 250px;
    }

    .pl
    {
        margin: 0;
        height: 250px;
    }

    .fp
    {
        margin: 2.1em auto;
    }

    .ndg
    {
        margin: 2em auto;
        height: 250px;
    }

    .pnc
    {
        padding: 1.5em 0 1.5em 1em;
    }

    #visites
    {
        padding: 0;
    }
}



    
