@media screen and (max-width: 1024px)
{
    header
    {
        padding: 0;
    }

    .logo
    {
        flex-grow: 1;
        padding: 0 2em 0 0.5em;
    }
    
   /*nav
    {
        order: 2;
        width: 100%;
    }*/

    nav ul
    {
        flex-flow: row-reverse wrap-reverse;
        padding: 0;
        width: 100%;
    }

    nav li
    {
        padding: 0;
    }

    nav li:hover
    {
        border-top: none;
        border-bottom: 2px solid #0065fc;
    }

    nav a
    {
        margin: 0;
    }
    .n1, .n3
    {
        order: 1;
        width: 30%;
        /*text-align: center;*/
    }

    .n1
    {
        padding: 23px 50px 0 0;
        /*text-align: center;*/
    }

    .n2
    {
        padding: 23px 0 19px;
    }

    h1
    {
        font-size: 25px;
    }
    .recherche1
    {
       display: none;
    }

    .recherche2
    {
        display: flex;
        align-items: center;
    }

    .marqueur_1
    {
    border-radius: 20px 0 0 20px;
    background-color: #f2f2f2;      
    font-size: 18px;
    padding: 0.9em;
    }

    input
    {
    border: 2px solid #f2f2f2;
    font-size: 15px;
    padding: 1em;
    font-weight: bold;
    color: black;
    width: 210px;
    }

    .marqueur_2
    {
    border-radius: 20px;
    background-color: #0065fc;
    color: white;
    border: 1px solid #f2f2f2; 
    font-size: 15px;
    padding: 1.1em;
    margin-left: -1em;
    flex-shrink: 0;
    overflow: hidden;
    }

    .marqueur_2:hover
    {
    cursor: pointer;
    }

    #s1
    {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .options_f
    {
        padding-left: 0;
    }

    .title_f
    {
        padding-top: 1em;
        padding-left: 0.5em;
    }

    .results_info
    {
        padding: 0;
    }

    .s2
    {
        margin: 0;
        flex-flow: column-reverse wrap;
    }

    aside
    {
        margin: 0;
        padding: 0;
        border-radius: 0; 
    }

    .graphique
    {
        padding: 3em 1em 0 0.5em;
    }

    .image
    {
        width: 343px;
    }

    #ah1
    { 
        background-color: white;
        padding: 3em 0.5em 0 0.5em;
    }

    #logements
    {
        padding-left: 0.5em;
    }

    .ap
    {
        padding-left: 0.5em;
    }

    /*Activities'beginning*/

    .s3
    {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .aa1
    {
        flex-flow: column nowrap;
    }

    .vp, .fp, .if, .ndg, .pl, .cal
    {
        width: 345px;
        height: 150px;
        margin-bottom: 1em;
        padding-bottom: 3.5em;
    }

    .image2, .image3, .image4, .image5
    {
        width: 343px;
        height: 150px; 

    }

    footer
    {
        flex-flow: column nowrap;
    }

    footer ul
    {
        padding-left: 0.5em
    }

    .title_ap
    {
        padding: 0.9em;
        padding-right: 0;
    }
}

