body
{
    font-family: 'Raleway', sans-serif;
}

/*Header*/
header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/*Navigation*/
nav ul
{
    list-style: none;
    display: flex;
}

nav li 
{
    padding-top: 3em;
}

nav a
{
    text-decoration: none;
    color: black;
    margin: 1.8em;
}

nav a:hover
{
    color: #0065fc;
}

nav li:hover
{
    border-top: 2px solid #0065fc;
}

h1
{
    font-size: 20px;
    padding: 0;
    margin: 0;
}

/*h2
{
    font-size: 18px;
    padding: 1.8em 0 0 3em;
}*/


/*Logo*/
.logo
{
    text-align: left;
    padding: 3em;
}

.s1
{
   margin-left: 3em;
   margin-bottom: 1.8em;
}

/*Recherhe*/
#recherche
{
    display: flex;
}

.marqueur_1
{
    border-radius: 20px 0 0 20px;
    background-color: #f2f2f2;
    font-size: 18px;
    padding: 0.8em;
}

input
{
    border: 2px solid #f2f2f2;
    font-size: 15px;
    padding: 1em;
    font-weight: bold;
    color: black;
}

.marqueur_2
{
    border-radius: 0 20px 20px 0;
    background-color: #0065fc;
    color: white;
    border: 1px solid #f2f2f2; 
    font-size: 15px;
    padding: 1em;
}

.title_f
{
    font-size: 18px; 
    font-weight: bold;
}

.icone1
{
    color:#0065fc;
    background-color: #deebff;
    padding: 1em;
    margin-right: 0.5em;
    border-radius: 100%; 
}

.icone2
{
    color:#0065fc;
    background-color: #deebff;
    padding: 0.9em 1.1em 0.9em 1.1em;
    margin-right: 10px;
    border-radius: 100%; 
}

.i1
{
    margin: 2em;
    border-radius: 20px 20px 20px 20px;
    border: 1px solid #f2f2f2;
    background-color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 0.9em 0.9em 0.9em 0;
}

.i1:hover
{
    background-color: #0065fc;
    color: white;
}

/*Reuslt*/
.information
{
    color: #0065fc;
    font-size: 12px;
    padding: 0.3em 0.7em 0.3em 0.7em;
    margin-right: 0.8em;
    border-radius: 100%;
    border: 2px solid #f2f2ff;
}

/*Accomodations'beginning*/
.s2
{
    display: flex;
}

#ah1
{
    background-color: #f2f2f2;
    border-radius: 30px 30px 30px 30px;
    margin-left: 3em;
}

.presentation
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; 
    padding: 1em;
}

.vignette
{
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    border: 2px solid white;
    margin-bottom: 1.5em;
    box-shadow: 7px 7px 10px #f2f2f2;
}

.image
{
    width: 270px;
    height: 150px;
    object-fit: cover;
    border-radius:20px 20px 0 0; 
    border: 1px solid white;
}

.ap
{
    padding: 0 0 2em 3em;
    font-size: 16px;
    font-weight: bold;
}

.legende
{
    padding-left:0.7em; 
    font-weight: bold;
}
/*Accomodations'ending*/

/*Populars'beginning*/
aside
{
    margin: auto 3em auto 3em;
    padding: 0em 1.2em 0 1.2em;
    background-color: #f2f2f2;
    border-radius: 30px 30px 30px 30px;
}

.p1
{
    display: flex;
    flex-flow: column wrap;
    width: 350px;
    height: 150px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    margin: 2em auto 2em auto;
    font-size: 16px;
    box-shadow: 10px 10px 15px #f2f2f2;
}

.image1
{
    width: 140px;
    height: 145px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
    border: 2px solid white;
}

.graphique
{
    display: flex;
    justify-content: space-between;
    padding-top: 3em;
    font-weight: bold;
    font-size: 18px;
}

.etoiles1
{
    padding-left: 0.8em;
    color:#0065fc;
}

.far
{
    color: gray;
}

.nuitee
{
    padding: 0.3em;
    padding-left: 12px;
}

.nuitee2
{
    padding-top: 0.3em;
}

.etoiles2
{
    padding-top: 2.2em;
    color: #0065fc;
}

.legendebis
{
    font-weight: bold;
    padding-top: 0.3em;
}

/*Populars' ending*/

/*Activities' beginning*/
.aa1
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3em;
}
    
.vp
{
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    box-shadow: 7px 7px 10px #f2f2f2;
}

.fp
{
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 7px 7px 10px #f2f2f2;
}

.if
{
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    box-shadow: 7px 7px 10px #f2f2f2;
}

.ndg
{
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    box-shadow: 7px 7px 10px #f2f2f2;
}

.pl
{
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    box-shadow: 7px 7px 10px #f2f2f2;
}

.cal
{
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    box-shadow: 7px 7px 10px #f2f2f2;
}

.image2
{
    width: 310px;
    height: 500px; 
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.image3
{
    width: 310px;
    height: 240px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.image4
{
    width: 310px;
    height: 205px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.image5
{
    width: 310px;
    height: 223px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

h3
{
   font-size: 16px; 
   font-weight: bold;
   padding-left: 1em;
}
/*Activities' ending*/

/*Footer's beginning*/
footer
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: #f2f2f2;
}

footer li
{
    list-style: none;
    margin: 0.6em;
}

.title_ap
{
    padding-left: 3em;
}
