@media all and (min-width: 720px) and (max-width: 1430px)
{
    #main
    {
        margin: 0 auto;
    }

    header
    {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0em 3em 0 3em;
        border-top: 2px solid #f2f2f2;
    }

    .signup
    {
        
        margin: 1.8em 0;   
    }

    #s1
    {
        margin: 0;
        padding: 0 3em 0 3em;
    }

    .recherche1
    {
        padding-bottom: 1em;
    }

    input
    {
        width: 96%;
    }

    .title_f
    {
        display: block;
        padding: 0 1em 0 0;
    }

    .options_f
    {
        padding: 0; 
    }

    #s2
    {
        flex-flow: column-reverse wrap-reverse; 
        margin: 0;
    }

    .ah1
    {
        background-color: white;
        border-radius: 0%;
    }

    aside
    {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 0 0 3em 0;
        box-sizing: content-box;
        border-radius: 0;
    }

    .p1
    {
        width: 400px;
    }

    .image1
    {
        width: 200px;
        
    }

    .legendebis
    {
        padding: 1em 0 1em 1em;
    }

    .nuitee2
    {
        padding: 0 0 1em 1em;
    }

    .etoiles2
    {
        padding: 1em 0 0 1em;
    }
    
    .fpif
    {
        order: 2;
    }

    .ndgpl
    {
        order: 3;
    }

    .vp
    {
        width: 260px;
        z-index: 2;
        position: absolute;
        margin-top: -13em;
        margin-bottom: 0;
        height: 222px;  
    }

    .fp
    {
        margin-bottom: 1em;
        width: 260px;
    }

    .if
    {
        width: 260px;
        margin-top: 1em;
        padding-bottom: 0;
    }

    .cal
    {
        width: 260px;
        margin-top: 15em;
    }

    .ndg
    {
        width: 260px;
        margin-bottom: 1em;
    }

    .pl
    {
        width: 260px;
        padding-bottom: 0;
    }

    .image2, .image4, .image5
    {
        width: 100%;
        height: 180px;
    }

    .image3
    {
        height: 240px;
    }

    .pnc
    {
        font-size: 13px;
        font-weight: 900;
        padding: 1em;
        margin: 0;
    }

    footer
    {
        padding: 0;
    }

    .title_ap
    {
        padding: 2em 0 0 2.8em;
    }

    footer li
    {
        margin: 0.6em auto;
        padding-right: 2em;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px)
{
    .vignettes
    {
        width: 440px;
    }

    .image
    {
        width: 98%;
    }

    .vp
    {
        margin-top: -15em;
        width: 295px;
        padding-bottom: 1.2em;
        height: 210px;
    }

    .fp
    {
        width: 295px;
    }

    .cal
    {
        width: 295px;
        margin-top: 15em;
    }

    .pl
    {
        width: 295px;
    }

    .if
    {
        width: 295px;
    }

    .ndg
    {
        width: 295px;
    }

    .pl
    {
        width: 295px;
    }

    /*.pnc
    {
        padding: 1.5em 0 1.5em 1em;
    }*/
}

@media screen and (min-width: 1280px) and (max-width: 1435px)
{
    .vignettes
    {
        width: 370px; 
    }

    .image
    {
        width: 98%
    }

    .vp, .fp, .if, .cal, .ndg, .pl
    {
        width: 350px;
    }

    .vp
    {
        margin-top: -15em;
    }

}

@media screen and (min-width: 720px) and (max-width: 920px)
{
    .p1
    {
        width: 305px;
    }

    .image1
    {
        width: 130px;
    }

    .aa1
    {
        display: flex;
    }

    .vp
    {
        width: 200px;
        z-index: 2;
        position: absolute;
        margin-bottom: 0;
        margin-top: -13em;
    }

    .fp
    {
        margin-top: 3em;
        width: 200px;
    }

    .cal
    {
        max-width: 200px;
        margin-top: 19em;
    }

    .if
    {
        margin-top: 2em;
        width: 200px;
    }

    .ndg
    {
        margin-bottom: 2em;
        margin-top: 3em;
        width: 200px;
    }

    .pl
    {
        /*height: 250px;*/
        width: 200px;
        margin-top: 2em;
        padding-bottom: 0;
    }

    .image2, .image3, .image4, .image5
    {
        width: 100%;
        height: 180px;
    }

    .pnc
    {
        font-size: 12px;
    }

    #visites
    {
        padding: 0;
    }
}

@media screen and (min-width: 710px) and (max-width: 720px)
{    
    .vp
    {
        margin-top: -15em;
    }

    footer ul
    {
        padding-left: 3em;
    }

    .title_ap
    {
        padding: 2em 0 0 3em;
    }
}










    
